air_quality.log
README_proposal.md
Pandas_DF.csv
fig1.pdf
bin/
etc/
lib/
share/
pyvenv.cfg
Air_Quality_by_county.csv
Air_Quality_in_US_by_State.pdf
Best_and_Worst_AQI_by_State.pdf
__pycache__/
air_quality_and_birth_weight_analysis.py
Birth_Data.csv
